
.cartDisplay{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0rem;
}

.cartProducts{
    display: flex;
    flex-flow: row;
    margin: 1.5rem;
    justify-content: space-around;
    padding: 1rem 3rem;
    box-shadow: 0px 5px 26px 5px #000000;
    width: 40%;
    border-radius: 0.5rem;
}

.cartProducts-img{
    height: 200px;
    width: 150px;
}

.cartProducts-info{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}


.buttonEliminar {
    padding: 0.5rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid rgb(209, 23, 23);
    color: rgb(209, 23, 23);
}
.buttonEliminar:hover {
    color: #fff;
}
.buttonEliminar:hover:after {
    width: 100%;
}
.buttonEliminar:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: rgb(209, 23, 23);
}

.cartError{
    font-size: 2rem;
    display: flex;
    flex-flow: column;
    height: 20vh;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
}