.nav{
    background-color: black;
    height: 25vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.nav-logo{
    width: 12rem;
    height: 5rem;
}

.nav-list{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 12rem 0rem 7rem;
    list-style: none;
}

.nav-link{
    color: white;
}