.nav{
    background-color: black;
    height: 25vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.nav-logo{
    width: 12rem;
    height: 12rem;
}

.nav-list{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 15rem;
    list-style: none;
}

.active{
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
    background-color: white;
    padding: 0.5rem 1rem; 
    border-radius: 0.7rem;
}

.noActive{
    color: white
}

@media screen and (max-width: 768px) {
    .nav-list{
        justify-content: space-between;
        padding: 1rem 3rem 1rem 5rem;
        font-size: 1rem;
    }
    .nav-logo{
        width: 6rem;
        height: 4rem;
    }
}

@media screen and (max-width: 576px) {
    .nav-list{
        padding: 1rem 1rem 1rem 3rem;
        font-size: 0.8rem;
    }
    .nav-logo{
        width: 4rem;
        height: 2rem;
    }
}

@media screen and (max-width: 456px) {
    .nav-list{
        padding: 1rem;
        font-size: 0.8rem;
    }
    .nav-logo{
        width: 3rem;
        height: 1rem;
    }
}